<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.xy.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetListViewDataServlet</servlet-name>
    <servlet-class>com.xy.servlet.GetListViewDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReceiveFileData</servlet-name>
    <servlet-class>com.xy.servlet.ReceiveFileData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.xy.utils.UploadFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.xy.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReceiveFileInfoServlet</servlet-name>
    <servlet-class>com.xy.servlet.ReceiveFileInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MediaFileDownloadServlet</servlet-name>
    <servlet-class>com.xy.servlet.MediaFileDownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteFileServlet</servlet-name>
    <servlet-class>com.xy.servlet.DeleteFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.xy.servlet.ChangePasswordServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetListViewDataServlet</servlet-name>
    <url-pattern>/servlet/GetListViewDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReceiveFileData</servlet-name>
    <url-pattern>/servlet/ReceiveFileData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/servlet/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReceiveFileInfoServlet</servlet-name>
    <url-pattern>/servlet/ReceiveFileInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MediaFileDownloadServlet</servlet-name>
    <url-pattern>/servlet/MediaFileDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFileServlet</servlet-name>
    <url-pattern>/servlet/DeleteFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/servlet/ChangePasswordServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
